.site-header,
header {
  background: var(--pane06);

  .site-header-search .site-header-search-input {
    background-color: var(--pane06);
  }
}

.-wide-header-detail-page .detail-tabs-wide-header,
.-wide-header-detail-page .detail-header,
._banner-bg {
  background: var(--pane01);
}

header a,
header p,
header li {
  color: var(--textColor);
}

.tt-input {
  background-color: var(--pane01);
  color: var(--textColor);
}

.self-crumb {
  color: var(--gray);
}
